<div class="container">
    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>

    <section class="home">
        <img src="/img/me.png" alt="Profile Picture" width="200">
        <h1>Abyr Dridi</h1>
        <p>About me: I Love to Code !...</p>
        <p> Dynamic Full-Stack Developer with hands-on experience in the MERN stack
 and a strong passion for continuous learning. Skilled in both frontend and
 backend development, with a proven ability to deliver robust, scalable
 solutions through innovative projects. Adept at problem-solving, team
 collaboration, and applying best practices across the development lifecycle.
 Currently enhancing my expertise through specialized training in MERN,
 DevOps, and additional programming languages. My diverse background in
 development and customer service makes me a versatile and adaptable
 professional eager to contribute to impactful, forward-thinking teams</p>
    </section>
</div>