.nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  padding: 1rem 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 4px 6px;
  align-items: center;
}

.nav-title {
  color: white;
  font-family: cursive;
  margin: 0;
}

.nav-links a.active {
  font-weight: bold;
}

button {
  background-color: rgb(75, 198, 247);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.information, .requests {
  display: inline-block;
  border: 3px solid rgb(187, 187, 187);
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: cursive;
  vertical-align: top;
  padding-top: 0%;
  flex-direction: column;
}
.Connections {
  display: inline-block;
  border: 3px solid rgb(187, 187, 187);
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: cursive;
  flex-direction: column;
  
}

.shape {
  background-color: rgb(85, 195, 239);
  height: 120px;
}

h2 {
  margin-top: 0;
}

#user {
  box-shadow: 4px 4px grey;
  width: 100px;
  border-radius: 50%;
}

u {
  color: rgb(59, 185, 231);
  text-decoration: underline;
}

.education {
  border: 3px solid rgb(187, 187, 187);
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: cursive;
}

.edu {
  background-color: rgb(48, 48, 48);
  color: white;
  font-size: large;
  font-family: cursive;
}

.req, .yours {
  background-color: rgb(48, 48, 48);
  color: white;
  font-size: large;
  font-family: cursive;
  padding: 10px;
}

#deux, #cinq {
  background-color: grey;
  border-radius: 50%;
  margin: 4px;
  padding: 10px;
  align-items: center;
}

img {
  width: 30px;
}

.img1 {
  position: relative;
}

.img2 {
  position: relative;
}

.more {
  border-top: 3px solid rgb(187, 187, 187);
  text-decoration: underline;
  color: rgb(59, 185, 231);
  cursor: pointer;
}
